@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100svh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.plaster-regular {
  font-family: "Plaster", system-ui;
  font-weight: 400;
  font-style: normal;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#wall {
  height: 66%;
  width: 100%;
}

#floor {
  height: 33%;
  border-top: 1px solid rgba(0,0,0, 0.2);
}
