@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100svh;
}

#app {
  width: 100%;
  min-height: 100svh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.gravitas-one-regular {
  font-family: "Gravitas One", serif;
  font-weight: 400;
  font-style: normal;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.piggy-container {
  width: 256px;
  height: 256px;
  overflow: hidden;
  background: url(./assets/imgs/pig_spritesheet.png);
  animation: coin 1s steps(11) infinite;
}

.pixelify-sans {
  font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@keyframes coin {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -2816px;
  }
}